.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 5px 5px 15px rgb(0,0,0,0.2);
  flex-grow: 1;
  /*flex-basis: 250px;*/
  margin: 10px 10px 50px 10px;
}
.card img {
  width: 700px;
}
.card p {
  flex-grow: 1;
  padding-left:15px;
}
.card h2 {
  font-family: "Rufina", serif;
}

.cards {
  display:flex;
  flex-wrap: wrap;
}
